<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="random"
>
    <testsuites>
        <testsuite name="Backoffice">
            <directory>tests/app/Backoffice</directory>
            <directory>tests/src/Backoffice</directory>
        </testsuite>
        <testsuite name="Shop">
            <directory>tests/app/Shop</directory>
            <directory>tests/src/Shop</directory>
        </testsuite>
        <testsuite name="Shared">
            <directory>tests/src/Shared</directory>
        </testsuite>
    </testsuites>
    <source>
        <!-- Coverage -->
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
